<p-sidebar [(visible)]="displaySidebar">
  <h1>Hello sidebar!</h1>
  <p-menu [model]="items"></p-menu>
</p-sidebar>

<div class="layout-topbar">
  <p-menubar [model]="items">
    <ng-template pTemplate="start" class="align-items-center">
      <img
        src="https://www.primefaces.org/primeng/showcase/assets/showcase/images/primeng.svg"
        height="40"
        class="mr-2"
      />
    </ng-template>
    <ng-template pTemplate="end">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-bars"
        class="p-button-rounded p-button-outlined mr-2"
        (click)="toggleSidebar()"
        label="Sidebar"
      ></button>
      <input type="text" pInputText placeholder="Search" />
    </ng-template>
  </p-menubar>
</div>
<div class="grid mt-2">
  <p-card
    header="Advanced Card"
    subheader="Card Subheader"
    class="p-card-shadow col-12 md:col-4 lg:col-3"
  >
    <ng-template pTemplate="header">
      <img alt="Card" src="https://source.unsplash.com/random" height="200px" />
    </ng-template>
    <p>
      Inventore sed consequuntur error repudiandae numquam deserunt quisquam
      repellat libero asperiores earum nam nobis, culpa ratione quam perferendis
      esse, cupiditate neque quas!
    </p>
    <ng-template pTemplate="footer">
      <p-button label="Save" icon="pi pi-check"></p-button>
      <p-button
        label="Cancel"
        icon="pi pi-times"
        styleClass="p-button-secondary"
        [style]="{ 'margin-left': '.5em' }"
      ></p-button>
    </ng-template>
  </p-card>

  <div class="card col-12 md:col-8 lg:col-9">
    <h5>Subheader Grouping</h5>
    <p>Group customers by their representative.</p>
    <p-table
      [value]="customers"
      sortField="representative.name"
      sortMode="single"
      [scrollable]="true"
      scrollHeight="400px"
      rowGroupMode="subheader"
      groupRowsBy="representative.name"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width: 200px">Name</th>
          <th style="min-width: 200px">Country</th>
          <th style="min-width: 200px">Company</th>
          <th style="min-width: 200px">Status</th>
          <th style="min-width: 200px">Date</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="groupheader" let-customer>
        <tr pRowGroupHeader>
          <td colspan="5">
            <span class="p-text-bold ml-2">{{
              customer.representative.name
            }}</span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="groupfooter" let-customer>
        <tr class="p-rowgroup-footer">
          <td style="min-width: 80%">
            <div style="text-align: right; width: 100%">Total Customers</div>
          </td>
          <td style="width: 20%">
            {{ calculateCustomerTotal(customer.representative.name) }}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
        <tr>
          <td style="min-width: 200px">
            {{ customer.name }}
          </td>
          <td style="min-width: 200px">
            <span class="image-text">{{ customer.country.name }}</span>
          </td>
          <td style="min-width: 200px">
            {{ customer.company }}
          </td>
          <td style="min-width: 200px">
            <span [class]="'customer-badge status-' + customer.status">{{
              customer.status
            }}</span>
          </td>
          <td style="min-width: 200px">
            {{ customer.date }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>


  <p-card header="Knob" class="p-card-shadow col-12 md:col-4 lg:col-3">
    <p-knob
      [(ngModel)]="knobValue"
      valueColor="MediumTurquoise"
      rangeColor="SlateGray"
    ></p-knob>
  </p-card>
</div>
