/* common */
$textColor: #1b1b1b;
$textSecondaryColor: #888888;
$fontSize: 16px;

/* topbar */
$topbarBgColor: #f4f4f4;
$topbarBorderColor: #888888;
$topbarButtonBgColor: #ffffff;
$topbarButtonBorderColor: #888888;
$topbarButtonTextColor: #424242;
$topbarButtonHoverBgColor: #eaeaea;
$topbarButtonHoverTextColor: #333333;

/* sidebar */
$sidebarBgColor: #f4f4f4;
$sidebarBorderColor: #888888;
$sidebarAnimationDuration: 0.3s;

/* mask */
$layoutMaskBgColor: #424242;

/* footer */
$footerBgColor: #f4f4f4;
$footerBorderColor: #888888;

.layout-wrapper {
  .layout-main {
    .layout-content {
      padding-top: 50px;
    }

    .layout-main-mask {
      display: none;
    }

    .layout-footer {
      width: 100%;
      padding: 1em 1.5em;
      background-color: $footerBgColor;
      border-top: 2px dotted $footerBorderColor;

      .footer-text-right {
        margin-top: 0.5em;

        span {
          vertical-align: middle;
        }
      }
    }
  }

  .layout-topbar {
    height: 64px;
    background-color: $topbarBgColor;
    border-bottom: 2px dotted $topbarBorderColor;
    padding: 1em;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;

    .menu-btn {
      display: inline-block;
      vertical-align: middle;

      i {
        font-size: 1.5em;
      }
    }

    .logo {
      margin-left: 1.25em;
      display: inline-block;
      vertical-align: middle;
    }

    .topbar-button {
      border: 2px dotted $topbarButtonBorderColor;
      background: $topbarButtonBgColor;
      color: $topbarButtonTextColor;
      height: 2em;
      min-width: 2em;
      float: right;
      display: block;
      font-size: 1em;

      .ui-button-icon-right {
        width: 1em;
        height: 1em;
      }
    }
  }
}

@media (max-width: 1024px) {
  .layout-wrapper {
    .layout-topbar {
      .topbar-button {
        .ui-button-text {
          display: none;
        }

        .ui-button-icon-right {
          right: 50%;
          margin-right: -0.6em;
        }
      }
    }
  }
}


:host ::ng-deep .p-rowgroup-footer td {
  font-weight: 700;
}

:host ::ng-deep .p-rowgroup-header {
  span {
      font-weight: 700;
  }

  .p-row-toggler {
      vertical-align: middle;
      margin-right: .25rem;
  }
}
